/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 08/08/2021
 */

.slideshowphoto {
    width: auto;
    margin: 0 auto;
}

.photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bodyvideo {
    margin: 0;
    padding: 0;
    overflow: hidden;
}